
.grid-box-item,
.grid-box {
  cursor:pointer;
  text-align: left;
  font-size:1.5em;
  line-height: 1.15em;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  font-weight: normal;
}